* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bg{
    position: absolute;
    height: 100%;
    width: 100%;
}
.card {
    z-index: 1;
    background-color: #229799;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 390px;
    position: relative;
}

h2 {
    margin-bottom: 20px;
    color: #F5F5F5;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;

}

.weather-options label {
    font-weight: normal;
}

.range-slider {
    position: relative;
    width: 300px;
    height: 25px;
}

.range-slider input[type="range"] {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    background: none;
    pointer-events: none; /* Etkileşim engelleme */
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all; /* Tutamacları etkileşimli yap */
    width: 15px;
    height: 15px;
    background: #3498db;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}

.range-slider .slider {
    position: relative;
    height: 6px;
    background-color: #ddd;
    border-radius: 3px;
}

.range-slider .slider .track {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ddd;
    border-radius: 3px;
}

.range-slider .slider .range {
    position: absolute;
    height: 100%;
    background-color: #3498db;
    border-radius: 3px;
}
button {
    padding: 10px 20px;
    background-color: #424242;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #3a3a3a;
}

.greenResult {
    margin-top: 25px;
    text-align: center;
}

.greenResult p {
    font-size: 18px;
    color: white;
    background-color: #218838;
    padding: 50px;
    width: 100%;
    border-radius: 12px;
    cursor: default;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: none;
}

.redResult {
    margin-top: 25px;
    text-align: center;
}

.redResult p {
    font-size: 18px;
    color: white;
    background-color: #882121;
    padding: 50px;
    width: 100%;
    border-radius: 12px;
    cursor: default;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: none;
}

.credit{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #F5F5F5;
}

.menu {
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
    align-items: flex-start;
    position: fixed;
}

.info, .attribution {
    margin-bottom: 10px;
}

.info button, .attribution button {
    background-color: #229799;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.info button:hover, .attribution button:hover {
    background-color: #1a7577;
}

#infoImg {
    scale: 45%;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#date {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #424242;
    width: 100%;
}

.logo{
    color: #F5F5F5;
    text-align: center;
    margin-bottom: 20px;
}

.attributionCard {
    z-index: 1;
    background-color: #229799;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 390px;
    position: absolute;
    display: none;
    color: white;
}

.attributionCard p {
    font-size: 18px;
    color: white;
}