* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bg{
    position: absolute;
    height: 100%;
    width: 100%;
}
.card {
    z-index: 1;
    background-color: #229799;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 700px;
    position: relative;
}

h2 {
    margin-bottom: 20px;
    color: #F5F5F5;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
}

label {
    display: block;
    color: black;
    font-weight: bold;

}

#date {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #424242;
    width: 100%;
}

.segmented-control {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
}

.segmented-control input[type="radio"] {
    display: none;
}

.segmented-control label {
    padding: 10px 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

.segmented-control label:last-child {
    border-right: none;
}

.segmented-control input[type="radio"]:checked + label {
    background-color: #3498db;
    color: white;
}

.segmented-control label:hover {
    background-color: #ddd;
}

.segmented-control label:last-child {
    border-right: none;
}

.segmented-control input[type="radio"]:checked + label {
    background-color: #3498db;
    color: white;
}

.segmented-control label:hover {
    background-color: #ddd;
}

.weather-options label {
    font-weight: normal;
}

button {
    padding: 10px 20px;
    background-color: #424242;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #3a3a3a;
}

.greenResult {
    margin-top: 25px;
    text-align: center;
}

.greenResult p {
    font-size: 18px;
    color: white;
    background-color: #218838;
    padding: 50px;
    width: 100%;
    border-radius: 12px;
    cursor: default;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: none;
}

.redResult {
    margin-top: 25px;
    text-align: center;
}

.redResult p {
    font-size: 18px;
    color: white;
    background-color: #882121;
    padding: 50px;
    width: 100%;
    border-radius: 12px;
    cursor: default;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: none;
}

.credit{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #F5F5F5;
}

.menu {
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
    align-items: flex-start;
    position: fixed;
}

.info, .attribution {
    margin-bottom: 10px;
}

.info button, .attribution button {
    background-color: #229799;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.info button:hover, .attribution button:hover {
    background-color: #1a7577;
}

#infoImg {
    scale: 45%;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.logo{
    color: #F5F5F5;
    text-align: center;
    margin-bottom: 20px;
}

.attributionCard {
    z-index: 1;
    background-color: #229799;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 390px;
    position: absolute;
    display: none;
    color: white;
}

.attributionCard p {
    font-size: 18px;
    color: white;
}

p{
    width: 10%;
}