<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckOUT!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<img id="bg" src="{{ url_for('static', filename='bg.png') }}">
<img id="infoImg" src="{{ url_for('static', filename='info.png') }}" style="display: none">

<div class="card">
    <h1 class="logo">CheckOUT!</h1>
    <div class="form-group">
        <label for="date" typeof="text">Date:</label>
        <input type="date" id="date" name="date">
    </div>

    <div class="form-group">
        <label>Weather Options</label>
        <div class="weather-options">
            <label>Temperature
                <div class="range-slider">
                    <input type="range" id="tempMin" min="-10" max="40" value="10">
                    <input type="range" id="tempMax" min="-10" max="40" value="30">
                    <div class="slider">
                        <div class="track"></div>
                        <div class="range"></div>
                    </div>
                    <output id="tempOutput">10 - 30</output>
                </div>
            </label><br>

            <label>Rain
                <div class="range-slider">
                    <input type="range" id="rainMin" min="-10" max="40" value="5">
                    <input type="range" id="rainMax" min="-10" max="40" value="20">
                    <div class="slider">
                        <div class="track"></div>
                        <div class="range"></div>
                    </div>
                    <output id="rainOutput">5 - 20</output>
                </div>
            </label><br>

            <label>Wind
                <div class="range-slider">
                    <input type="range" id="windMin" min="-10" max="40" value="15">
                    <input type="range" id="windMax" min="-10" max="40" value="25">
                    <div class="slider">
                        <div class="track"></div>
                        <div class="range"></div>
                    </div>
                    <output id="windOutput">15 - 25</output>
                </div>
            </label><br>
        </div>
    </div>

    <button id="checkBtn">Check The Weather</button>

    <div class="greenResult">
        <p>According to weather guess <br><b>You can go out!</b></p>
    </div>
     <div class="redResult">
        <p>According to weather guess <br><b>You shouldn't go out!</b></p>
    </div>
</div>

<div class="menu">
    <div class="info">
        <button id="Info">Info</button>
    </div>
    <div class="attribution">
        <button id="attribution">Sources</button>
    </div>
</div>

<div class="attributionCard">

    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons-lisens" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Data from MET Norway and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Navngivelse 4.0 Internasjonal lisens</a>
</div>


<div class="credit">Developed by <strong>Bedirhan KURT</strong></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='rangeSliders.js') }}"></script>
</body>
</html>