<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckOUT!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 150px;
            width: 100%;
        }
    </style>
</head>
<body>
<img id="bg" src="{{ url_for('static', filename='bg.png') }}">
<img id="infoImg" src="{{ url_for('static', filename='info.png') }}" style="display: none">

<div class="card">
    <h1 class="logo">CheckOUT!</h1>

    <div class="form-group">
        <div class="map">
            <div id="map"></div>
            <p>Chosen coordinates: ~ <span id="coordinates"></span></p>
        </div>

        <div class="date">
            <label for="date" typeof="text">Date:</label>
            <input type="date" id="date" name="date">
        </div>


        <div class="segmented-control">
            <input type="radio" name="segment" id="night" checked>
            <label for="night">Night</label>

            <input type="radio" name="segment" id="morning">
            <label for="morning">Morning</label>

            <input type="radio" name="segment" id="afternoon">
            <label for="afternoon">Afternoon</label>

            <input type="radio" name="segment" id="evening">
            <label for="evening">Evening</label>
        </div>

        <label>Weather Options</label>
        <div class="weather-options">
            <label>Temperature (Min-Max)
                <div class="range-slider">
                    <input name="minTemp" type="range" id="minTemp" min="-10" max="40" value="0" oninput="this.nextElementSibling.value = this.value">
                    <output>0</output> C
                    <input name="maxTemp" type="range" id="maxTemp" min="-10" max="40" value="0" oninput="this.nextElementSibling.value = this.value">
                    <output>0</output> C
                </div>
            </label><br>

            <label>Precipitation (Min-Max)
                <div class="range-slider">
                    <input name="minPrecipitation" type="range" id="minPrecipitation" min="0.00" max="6.00" step="0.1" value="0" oninput="this.nextElementSibling.value = this.value">
                    <output>0</output> mm
                    <input name="maxPrecipitation" type="range" id="maxPrecipitation" min="0.00" max="6.00" step="0.1" value="0" oninput="this.nextElementSibling.value = this.value">
                    <output>0</output> mm
                </div>
            </label><br>

            <label>Wind (Min-Max)
                <div class="range-slider">
                    <input name="minWind" type="range" id="minWind" min="1" max="12" value="5" oninput="this.nextElementSibling.value = this.value">
                    <output>0</output> m/s
                    <input name="maxWind" type="range" id="maxWind" min="1" max="12" value="5" oninput="this.nextElementSibling.value = this.value">
                    <output>0</output> m/s
                </div>
            </label>
            <p style="color: red; font-size: 14px; width: 100%; display: none;">You gave invalid values. <br>Please check the values and try again.</p>
        </div>
    </div>

    <button id="checkBtn">Check The Weather</button>

    <div class="greenResult">
        <p>According to weather guess <br><b>You can go out!</b></p>
    </div>
    <div class="redResult">
        <p>According to weather guess <br><b>You shouldn't go out!</b></p>
    </div>
</div>

<div class="menu">
    <div class="info">
        <button id="Info">Info</button>
    </div>
    <div class="attribution">
        <button id="attribution">Sources</button>
    </div>
</div>

<div class="attributionCard">

    <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons-lisens" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Data from MET Norway and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Navngivelse 4.0 Internasjonal lisens</a>
</div>

<div class="credit">Developed by <strong>Bedirhan KURT</strong></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>